mat-card{
    width: 50%;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right : 1px solid black;
    margin-top: 50px;
    display: block;
    padding: 70px 0px;
}